<a href="https://colab.research.google.com/github/viewipada/TripPlanner/blob/Recommendation/Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello guy

In [8]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
path_res = "/content/drive/MyDrive/Colab Notebooks/Data/restaurant.csv"
df_restaurant = pd.read_csv(path_res)
# array_restaurant = df_restaurant.values
path_con = "/content/drive/MyDrive/Colab Notebooks/Data/cuisine.csv"
df_cuisine = pd.read_csv(path_con)
# array_cuisine = df_cuisine.values
path_test = "/content/drive/MyDrive/Colab Notebooks/Data/Test (1).csv"
df_test = pd.read_csv(path_test)
# array_cuisine = df_test.values
data_path = "/content/drive/MyDrive/Colab Notebooks/Data/Test_dataform3.csv"
data = pd.read_csv(data_path)

ดูจำนวนแถวและคอลัมน์

In [ ]:
print(df_restaurant.shape)

(1027, 15)

In [ ]:
df_restaurant.head(3)

   id                  name   latitude  ...   wifi  valetparking  rooftop
0   0  Razzberry Rhinoceros  19.102989  ...    yes           yes         no
1   1                  JLWA  19.060339  ...     no           yes         no
2   2               Tamasha  19.005862  ...     no           yes         no

[3 rows x 15 columns]

In [ ]:
df_restaurant.info

<bound method DataFrame.info of         id                        name  ...   valetparking   rooftop
0        0        Razzberry Rhinoceros  ...            yes          no
1        1                        JLWA  ...            yes          no
2        2                     Tamasha  ...            yes          no
3        3                Joey's Pizza  ...             no          no
4        4                     HITCHKI  ...            yes          no
...    ...                         ...  ...            ...         ...
1022  1028   Sequel Bistro & Juice Bar  ...             no          no
1023  1030                   Alfredo's  ...            yes          no
1024  1031  Little Hut Chinese Cuisine  ...             no          no
1025  1033        The Corner Club Cafe  ...             no          no
1026  1034                     The Den  ...            yes          no

[1027 rows x 15 columns]>

In [ ]:
print(df_cuisine.shape)

(3635, 3)

In [ ]:
df_cuisine.head(3)

   id  rid        cuisine
0   0    0  Mediterranean
1   1    0        Italian
2   2    0   North Indian

In [6]:
df_cuisine.head(5)

   id  rid        cuisine
0   0    0  Mediterranean
1   1    0        Italian
2   2    0   North Indian
3   3    0    Continental
4   4    1  Modern Indian

In [ ]:
df_cuisine.info

<bound method DataFrame.info of         id   rid        cuisine
0        0     0  Mediterranean
1        1     0        Italian
2        2     0   North Indian
3        3     0    Continental
4        4     1  Modern Indian
...    ...   ...            ...
3630  3630  1033   North Indian
3631  3631  1033    Continental
3632  3632  1034       European
3633  3633  1034       American
3634  3634  1034   North Indian

[3635 rows x 3 columns]>

In [ ]:
filter_cuisine_id = array_cuisine[array_cuisine[:,2] == 'Italian'] 
print(filter_cuisine_id[:15])
#print(array_cuisine[:10,2])

[]

In [ ]:
filter_cuisine_id = filter_cuisine_id[:,1]
print(filter_cuisine_id[:15])

[]

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            501 non-null    int64
 1   rid           501 non-null    int64
 2   homedelivery  501 non-null    object
 3   smoking       501 non-null    object
 4   alcohol       501 non-null    object
 5   wifi          501 non-null    object
 6   valetparking  501 non-null    object
 7   rooftop       501 non-null    object
 8   cuisine       501 non-null    object
dtypes: int64(2), object(7)
memory usage: 35.4+ KB

In [ ]:
df_test.head(10)

   id  rid  homedelivery smoking  ... wifi valetparking rooftop          cuisine
0   0    0             1     yes  ...  yes          yes        no  Mediterranean
1   1    0             1     yes  ...   no          yes        no        Italian
2   2    0             1     yes  ...   no          yes        no   North Indian
3   3    0             2      no  ...   no           no        no    Continental
4   4    1             1     yes  ...  yes          yes        no  Modern Indian
5   5    1             1     yes  ...   no          yes        no       European
6   6    1             1     yes  ...  yes          yes       yes          Pizza
7   7    1             1      no  ...   no           no       yes          Grill
8   8    2             1     yes  ...  yes          yes        no    Finger Food
9   9    2             1      no  ...   no           no        no    Continental

[10 rows x 9 columns]

In [ ]:
df_test['homedelivery'] = df_test.homedelivery.replace(['no','yes'],[1,2])
df_test['smoking'] = df_test.smoking.replace(['no','yes'],[1,2])
df_test['alcohol'] = df_test.alcohol.replace(['no','yes'],[1,2])
df_test['wifi'] = df_test.wifi.replace(['no','yes'],[1,2])
df_test['valetparking'] = df_test.valetparking.replace(['no','yes'],[1,2])
# df_test['rooftop'] = df_test.rooftop.replace(['no','yes'],[1,2])
df_test['cuisine'] = df_test.cuisine.replace(['Mediterranean','Italian','North Indian','Continental','Modern Indian','European','Pizza','Grill','Finger Food','Mexican','Japanese','Asian'
,'Healthy Food','Indian','Cafe','Fast Food','Chinese','American','Mughlai','South Indian','Spanish','Lebanese','Burger','Desserts','Seafood','Salad'
,'Arabian','Modern Australian','Turkish','Greek','Cantonese','Dim Sum','Tea','Yum Cha','Fusion','Sushi','Beverages','Pan Asian','Thai','Goan','North Eastern','Parsi','Iranian','Juices','Sandwich','Street Food'
,'Biryani','Persian','Coffee and Tea','Bakery','Rolls','Ice Cream','Bar Food','Contemporary','British','Kebab','BBQ','Burmese'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58])

TypeError: ignored

In [ ]:
df_test['cuisine'] = df_test.cuisine.replace(['Mediterranean','Italian','North Indian','Continental','Modern Indian','European','Pizza','Grill','Finger Food','Mexican','Japanese','Asian'
,'Healthy Food','Indian','Cafe','Fast Food','Chinese','American','Mughlai','South Indian','Spanish','Lebanese','Burger','Desserts','Seafood','Salad'
,'Arabian','Modern Australian','Turkish','Greek','Cantonese','Dim Sum','Tea','Yum Cha','Fusion','Sushi','Beverages','Pan Asian','Thai','Goan','North Eastern','Parsi','Iranian','Juices','Sandwich','Street Food'
,'Biryani','Persian','Coffee and Tea','Bakery','Rolls','Ice Cream','Bar Food','Contemporary','British','Kebab','BBQ','Burmese'],[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58])

In [ ]:
print(df_test.homedelivery.unique())
print(df_test.smoking.unique())
print(df_test.alcohol.unique())
print(df_test.wifi.unique())
print(df_test.valetparking.unique())
# print(df_test.rooftop.unique())
print(df_test.cuisine.unique())

[1 2]
[2 1]
[2 1]
[2 1]
[2 1]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50 51 52 53 54 55 56 57 58]

In [ ]:
print(len(df_test.cuisine.unique()))

58

In [ ]:
df_test.head(10)

   id  rid  homedelivery  smoking  ...  wifi  valetparking  rooftop   cuisine
0   0    0             1        2  ...     2             2         no       1
1   1    0             1        2  ...     1             2         no       2
2   2    0             1        2  ...     1             2         no       3
3   3    0             2        1  ...     1             1         no       4
4   4    1             1        2  ...     2             2         no       5
5   5    1             1        2  ...     1             2         no       6
6   6    1             1        2  ...     2             2        yes       7
7   7    1             1        1  ...     1             1        yes       8
8   8    2             1        2  ...     2             2         no       9
9   9    2             1        1  ...     1             1         no       4

[10 rows x 9 columns]

In [ ]:
x = df_test[['homedelivery','smoking','alcohol','wifi','valetparking']]
y = df_test[['cuisine']]

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(x, y, train_size=0.7, random_state=10)
print(train_x.count())

homedelivery    350
smoking         350
alcohol         350
wifi            350
valetparking    350
dtype: int64

In [ ]:
print(train_y.count())

cuisine    350
dtype: int64

In [ ]:
print(test_x.count())

homedelivery    151
smoking         151
alcohol         151
wifi            151
valetparking    151
dtype: int64

In [ ]:
print(test_x.count())

homedelivery    151
smoking         151
alcohol         151
wifi            151
valetparking    151
dtype: int64

In [ ]:
Treemodel = tree.DecisionTreeClassifier()
KNNmodel = KNeighborsClassifier(n_neighbors=5)

Treemodel = Treemodel.fit(train_x, train_y)
KNNmodel = KNNmodel.fit(train_x, train_y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """

In [ ]:
TreeScore = Treemodel.score(test_x, test_y)
KNNScore = KNNmodel.score(test_x, test_y)
print(TreeScore, KNNScore)

0.059602649006622516 0.08609271523178808

In [ ]:
another = [[1,2,2,2,2]]
print(Treemodel.predict(another))

[3]

### ข้อมูลจากแบบสอบถาม

In [ ]:
data.head(5)

                      Timestamp  ... ค่อนข้างไม่ชอบกิน
0  2021/10/11 11:20:24 PM GMT+7  ...      อาหารตามสั่ง
1  2021/10/14 12:48:17 PM GMT+7  ...          เบเกอรี่
2  2021/10/14 12:48:36 PM GMT+7  ...         ฟาสต์ฟู้ด
3  2021/10/14 12:54:23 PM GMT+7  ...             คาเฟ่
4  2021/10/14 12:55:41 PM GMT+7  ...            พิซซ่า

[5 rows x 17 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Timestamp                     19 non-null     object
 1   Username                      19 non-null     object
 2   ชื่อ นามสกุล                  19 non-null     object
 3   เพศ                           19 non-null     object
 4   วันเกิด                       19 non-null     object
 5   เดินทาง                       19 non-null     object
 6   เที่ยวแบบไหน                  19 non-null     object
 7   ชอบเที่ยวมากที่สุด            19 non-null     object
 8   ชอบเที่ยวปานกลาง              19 non-null     object
 9   ค่อนข้างไม่ชอบเที่ยว          19 non-null     object
 10  ชอบพักมากที่สุด               19 non-null     object
 11  ชอบพักปานกลาง                 19 non-null     object
 12  ค่อนข้างไม่ชอบพัก             19 non-null     object
 13  เหตุผลที่ใช้ในการเลือกที่พัก  19 non-null     object
 14  ชอบกินมากที่สุด               19 non-null     object
 15  ชอบกินปานกลาง                 19 non-null     object
 16  ค่อนข้างไม่ชอบกิน             19 non-null     object
dtypes: object(17)
memory usage: 2.6+ KB

In [ ]:
print(data.เพศ.unique())
print(data.เดินทาง.unique())
print(data.เที่ยวแบบไหน.unique())
print(data.ชอบเที่ยวมากที่สุด.unique())

['หญิง' 'ชาย']
['รถยนต์ส่วนตัว' 'รถจักรยานยนต์' 'รถโดยสารประจำทาง']
['เที่ยวคนเดียว' 'เที่ยวกับเพื่อน' 'เที่ยวกับครอบครัว']
['วัด' 'สวนสาธารณะ' 'ตลาด' 'ห้างสรรพสินค้า' 'สวนสัตว์' 'โบราณสถาน'
 'พิพิธภัณฑ์']

In [ ]:
print(len(data.ชอบเที่ยวมากที่สุด.unique()))

7

In [ ]:
data['เพศ'] = data.เพศ.replace(['หญิง','ชาย'],[1,2])
data['เดินทาง'] = data.เดินทาง.replace(['รถยนต์ส่วนตัว','รถจักรยานยนต์','รถโดยสารประจำทาง'],[1,2,3])
data['เที่ยวแบบไหน'] = data.เที่ยวแบบไหน.replace(['เที่ยวคนเดียว','เที่ยวกับเพื่อน','เที่ยวกับครอบครัว'],[1,2,3])

In [ ]:
data['ชอบเที่ยวมากที่สุด'] = data.ชอบเที่ยวมากที่สุด.replace(['วัด','สวนสาธารณะ','ตลาด' ,'ห้างสรรพสินค้า','สวนสัตว์','โบราณสถาน','พิพิธภัณฑ์'],[1,2,3,4,5,6,7])

In [ ]:
data.head(5)

                      Timestamp  ... ค่อนข้างไม่ชอบกิน
0  2021/10/11 11:20:24 PM GMT+7  ...      อาหารตามสั่ง
1  2021/10/14 12:48:17 PM GMT+7  ...          เบเกอรี่
2  2021/10/14 12:48:36 PM GMT+7  ...         ฟาสต์ฟู้ด
3  2021/10/14 12:54:23 PM GMT+7  ...             คาเฟ่
4  2021/10/14 12:55:41 PM GMT+7  ...            พิซซ่า

[5 rows x 17 columns]

In [ ]:
x = data[['เพศ','เดินทาง','เที่ยวแบบไหน']]
y = data[['ชอบเที่ยวมากที่สุด']]

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(x, y, train_size=0.7, random_state=10)
print(train_x.count())

เพศ             13
เดินทาง         13
เที่ยวแบบไหน    13
dtype: int64

In [ ]:
print(train_y.count())

ชอบเที่ยวมากที่สุด    13
dtype: int64

In [ ]:
print(test_x.count())

เพศ             6
เดินทาง         6
เที่ยวแบบไหน    6
dtype: int64

In [ ]:
print(test_y.count())

ชอบเที่ยวมากที่สุด    6
dtype: int64

In [ ]:
Treemodel2 = tree.DecisionTreeClassifier()
KNNmodel2 = KNeighborsClassifier(n_neighbors=5)

Treemodel2 = Treemodel2.fit(train_x, train_y)
KNNmodel2 = KNNmodel2.fit(train_x, train_y)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """